.jogo-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #0f172a, #020617);
  color: white;
}

/* topo */
.jogo-container > .placar {
  margin: 16px;
}

/* centro */
.jogo-container > .arena {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* bottom */
.jogo-container > .barra {
  margin-bottom: 20px;
}
