.arena {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.maos {
  display: flex;
  gap: 60px;
}

.mao {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mao-img {
  width: 100%;
  max-width: 90px;
  object-fit: contain;
}

.interrogacao {
  font-size: 3rem;
  opacity: 0.5;
}
