.placar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-weight: bold;
}

.lado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vs {
  font-size: 1.5rem;
}

.pontos {
  font-size: 2rem;
}
