.topbar {
  position: fixed;
  top: 12px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  padding: 0 16px;

  z-index: 3000;
}

/* BOTÕES APENAS ÍCONE */
.topbar-btn {
  background: transparent;
  border: none;
  cursor: pointer;

  padding: 4px; /* área de toque mobile */
  line-height: 1;
  user-select: none;

  /* REMOVE efeito de clique */
  transform: none;
  transition: opacity 0.15s ease;
}

/* hover opcional (não altera tamanho) */
.topbar-btn:hover {
  opacity: 0.8;
}

/* REMOVE qualquer mudança ao clicar */
.topbar-btn:active {
  transform: none;
}

/* TAMANHO DOS ÍCONES PNG */
.topbar-icon {
  width: 45px;
  height: 45px;
  display: block;
}

/* Mute ON (som ativo) um pouco maior */
.topbar-icon--active {
  width: 45x;
  height: 45px;
}

